<div class="container">
    <div class="row d-flex justify-content-center">

        <mat-spinner class="spinner" diameter:50 *ngIf="loading"></mat-spinner>
        <div class="col-8" *ngIf="!loading">
            <h1 class="text-center">Topics</h1>

            <div class="topicosContent" *ngIf="mostrar === 'T'">
                <h3 class="text-center">Mis topicos</h3>
                <div class="">
                    <button class="btn btnCrearTopic" (click)="openCreateTopic(contentCreateTopic)">Crear
                        Topico</button>
                </div>

                <!--
                        
                    <table class="table table-hover rounded">
                        <thead>
                            <tr>
                    
                                <th scope="col">Titulo</th>
                                <th scope="col">Modificar</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of topics.data" class="itemsTopics">
                                <td> <button class="btn" style="background-color: cornflowerblue;" (click)="openTopic(item)">{{item.topic}}</button></td>
                                <td><button class="btn btn-success">Modificar</button></td>
                                <td><button class="btn btn-danger" (click)="deleteTopic(item)">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    -->

                <ul *ngFor="let item of topics.data" class="mt-2 ">
                    <li class="itemsTopics">
                        <div class="row">

                            <div class="col-md-6">
                                <button class="btn" (click)="openTopic(item)">{{item.topic}}</button>
                            </div>
                            <div class="col-md-6  col-sm-4 justify-content-end d-flex">
                                <button class="btn btn-danger btnDelete" (click)="deleteTopic(item)">
                                    <fa-icon [icon]="delete"></fa-icon>
                                </button>
                            </div>



                        </div>
                    </li>
                </ul>

            </div>


            <div class="questContent" *ngIf="mostrar === 'Q'">

                <h3 class="text-center">Questions</h3>
                <!--                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Titulo</th>

                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listTopicSelect[0].questions">
                               
                                <td><button class="btn btn-primary"
                                        (click)="openEditQuest(contentUpdateQuestions,item)">{{item.title}}</button>
                                </td>
                                <td><button class="btn btn-danger" (click)="eliminarQuestion(item)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    -->

                <!--<button class="btn btnCreateQuest mb-2" (click)="openTemplate(contentCreateQuestions)">Crear
                            Question</button>
                        -->
                <button class="btn btnCreateQuest mb-2" (click)="openCreateQuest(contentCreateQuestions)">Crear
                    Question</button>

                <ul *ngFor="let item of listTopicSelect[0].questions">
                    <li class="itemsQuest">
                        <div class="row">
                            <div class="col-md-6 col-sm-8" (click)="openEditQuest(contentUpdateQuestions,item)">
                                <button class="btn">{{item.title}}</button>
                            </div>
                            <div class="col-md-6  col-sm-4 justify-content-end d-flex">
                                <button class="btn btn-danger btnDelete" (click)="eliminarQuestion(item)">
                                    <fa-icon [icon]="delete"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="container">
                    <button class="btn btnVolver m-1" (click)="volverTopics()"> Volver</button>
                    <button class="btn btnRandom m-1" (click)="random(contentRandomQuestions)">Random</button>
                </div>

            </div>
        </div>
    </div>




    <!-- Templates NUEVOS -->
    <div class="container">
        <ng-template #contentCreateTopic let-modal>
            <div class="modal-header" style="background-color: cornflowerblue;">
                <h4 class="modal-title">Crear Topic</h4>
                <button type="button" class="close btn-danger" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color: rgb(176, 221, 244);">
                <form [formGroup]="formTopic">
                    <div class="form-group">
                        <div class="topicName">
                            <label type="text">Topic:</label>
                            <input type="text" formControlName="topic" name="topic" class="form-control" [ngClass]="{'is-invalid': (formTopic.controls.topic.touched || submitted)  
                            && formTopic.controls.topic.errors && formTopic.get('topic').invalid}">
                        </div>
                        <span class="text-danger"
                            *ngIf="formTopic.controls.topic.errors?.minlength || formTopic.controls.topic.errors?.maxlength ">
                            Dato texto, 4 a 55 caracteres.
                        </span>

                        <!--
                        <button class="btn btn-primary" (click)="addQuestion()">agregar Question</button>
                        -->
                    </div>
                    <div class="container">
                        <p style="color: red;">*Se debe guardar al menos una pregunta</p>
                    </div>
                    <div class="card mt-2" style="background-color: rgb(121, 205, 247);">
                        <div class="card-body">
                            <div formArrayName="questions">
                                <div *ngFor="let quest of quest.controls; let i=index">
                                    <div [formGroupName]="i">
                                        <p>title:</p>
                                        <input class="form-control" type="text" formControlName="title"
                                            [ngClass]="{'is-invalid': (  submitted || formTopic.get('questions').touched) && formTopic.get('questions').invalid }">
                                        <p>descripcion:</p>
                                        <textarea class="form-control" name="descripcion" type="text"
                                            formControlName="descripcion" id="" cols="30" rows="10"
                                            [ngClass]="{'is-invalid': ( submitted || formTopic.get('questions').touched) && formTopic.get('questions').invalid }"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(176, 221, 244);">
                <button [disabled]="formTopic.invalid" type="submit" class="btn btnCrearTopic"
                    (click)="guardarTopic()">Guardar</button>
            </div>
        </ng-template>
    </div>


    <!-- Crear Questions -->
    <ng-template #contentCreateQuestions let-modal>
        <div class="modal-header" style="background-color: cornflowerblue;">
            <h4 class="modal-title">Crear Question</h4>
            <button type="button" class="close btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background-color: rgb(176, 221, 244);">
            <form [formGroup]="formTopic">
                <div class="card mt-2" style="background-color: rgb(121, 205, 247);">
                    <div class="card-body">

                        <div formArrayName="questions">
                            <div *ngFor="let quest of quest.controls; let i=index">

                                <div [formGroupName]="i">
                                    <label type="text">Pregunta</label><br>
                                    <input class="form-control" type="text" formControlName="title" minlength="1"
                                        [ngClass]="{'is-invalid': (submitted || formTopic.get('questions').touched) && formTopic.get('questions').invalid}"><br>
                                    <label type="text">Respuesta</label><br>
                                    <textarea class="form-control" name="descripcion" type="text"
                                        formControlName="descripcion" id="" cols="30" rows="10" minlength="1"
                                        [ngClass]="{'is-invalid': (submitted || formTopic.get('questions').touched) && formTopic.get('questions').invalid}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="modal-footer" style="background-color: rgb(176, 221, 244);">
            <button [disabled]="formTopic.invalid " class="btn btnCrearTopic"
                (click)="agregarPregunta()">Agregar</button>
        </div>
    </ng-template>


    <!-- Editar Questions 
    
    quest.value.title == ''
    -->
    <ng-template #contentUpdateQuestions let-modal>
        <div class="modal-header" style="background-color: cornflowerblue;">
            <h4 class="modal-title">Editar Question</h4>
            <button type="button" class="close btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background-color: rgb(176, 221, 244);">
            <form [formGroup]="formTopic">
                <div class="card mt-2" style="background-color: rgb(121, 205, 247);">
                    <div class="card-body">
                        <div formArrayName="questions">
                            <div *ngFor="let quest of quest.controls; let i=index">
                                <div [formGroupName]="i">
                                    <p>title:</p>
                                    <input class="form-control" type="text" formControlName="title"
                                        [ngClass]="{'is-invalid': (  submitted || formTopic.get('questions').touched) && formTopic.get('questions').invalid}">

                                    <p>descripcion:</p>
                                    <textarea class="form-control" name="descripcion" type="text"
                                        formControlName="descripcion" id="" cols="30" rows="10"
                                        [ngClass]="{'is-invalid': (  submitted || formTopic.get('questions').touched) && formTopic.get('questions').invalid}"></textarea>
                                    <span *ngIf="formTopic.invalid" class="text-danger">*No dejar ningun campo
                                        vacio</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="modal-footer" style="background-color: rgb(176, 221, 244);">
            <button [disabled]="formTopic.invalid " class="btn btnCrearTopic" (click)="editarPregunta()">Editar</button>
        </div>
    </ng-template>


    <!-- Mostrar Random Questions -->
    <ng-template #contentRandomQuestions let-modal>
        <div class="modal-header" style="background-color: cornflowerblue;">
            <h4 class="modal-title">Random Question</h4>
            <button type="button" class="close btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background-color: rgb(176, 221, 244);">
            <div class="topicTitle">
                <label type="text">Pregunta:</label> <br>
                <div class="container p-2" style="background-color: rgba(238, 231, 142, 0.568);">
                    <label type="text">{{randomTitle}}</label>
                </div>
            </div>
            <div class="topicDescripcion p-2">
                <button class="btn btnVerRespuesta  m-2" style="background-color: cornflowerblue;"
                    (click)="openQuest()">ver respuesta</button>
                <div class="container randomRespuesta" *ngIf="this.openAccordion"
                    style="background-color: rgba(238, 231, 142, 0.568);">
                    {{randomDescription}}
                </div>
            </div>
        </div>
        <div class="modal-footer" style="background-color: rgb(176, 221, 244);">
        </div>
    </ng-template>


    <!-- ___________________Templates_________________  -->


    <!-- Crear Topic 
    <div class="container">
        <ng-template #contentCreateTopic let-modal>

            <div class="modal-header" style="background-color: cornflowerblue;">
                <h4 class="modal-title">Crear Topic</h4>
                <button type="button" class="close btn-danger" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body" style="background-color: rgb(176, 221, 244);">
                <form [formGroup]="topicForm" name="topicForm">
                    <div class="form-group">
                        <div class="topicName">
                            <label type="text">Topic:</label>
                            <input type="text" formControlName="topic" class="form-control">
                            </div>
                    </div>
                    


                    <div class="card mt-2" style="background-color: rgb(121, 205, 247);">
                        <div class="card-body">
                            <div formGroupName="questions">
                                <div class="form-group">
                                    <div class="topicTitle">
                                        <label type="text">Pregunta:</label>
                                        <input type="text" formControlName="title" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="topicDescripcion">
                                        <label type="text">Respuesta:</label>
                                        <input type="text" formControlName="descripcion" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(176, 221, 244);">
                <button type="button" class="btn btnCrearTopic" (click)="guardarTopic()">Guardar</button>
            </div>


        </ng-template>
    </div>

    -->


    <!-- Crear Questions 
    <ng-template #contentCreateQuestions let-modal>
        <div class="modal-header" style="background-color: cornflowerblue;">
            <h4 class="modal-title">Crear Question</h4>
            <button type="button" class="close btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background-color: rgb(176, 221, 244);">
            <form [formGroup]="topicForm">
                <div class="card mt-2" style="background-color: rgb(121, 205, 247);">
                    <div class="card-body">
                        <div formGroupName="questions">
                            <div class="form-group">
                                <div class="topicTitle">
                                    <label type="text">Pregunta</label>
                                    <input id="title" type="text" class="form-control" formControlName="title" >
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="topicDescripcion">
                                    <label type="text">Respuesta</label>
                                    <input type="text" formControlName="descripcion" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="modal-footer" style="background-color: rgb(176, 221, 244);">
            <button class="btn btnCrearTopic" (click)="agregarPregunta()">Agregar</button>
        </div>
    </ng-template>

    -->

    <!-- Editar Questions 
    <ng-template #contentUpdateQuestions let-modal>
        <div class="modal-header" style="background-color: cornflowerblue;">
            <h4 class="modal-title">Editar Question</h4>
            <button type="button" class="close btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background-color: rgb(176, 221, 244);">
            <form [formGroup]="questForm">
                <div class="card mt-2" style="background-color: rgb(121, 205, 247);">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="topicTitle">
                                <label type="text">Pregunta</label>
                                <input type="text" formControlName="title" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="topicDescripcion">
                                <label type="text">Respuesta</label>
                                <input type="text" formControlName="descripcion" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="modal-footer" style="background-color: rgb(176, 221, 244);">
            <button class="btn btnCrearTopic" (click)="editarPregunta()">Editar</button>
        </div>
    </ng-template>

    -->






</div>