<div class="container">
    <h2 class="text-center">Inicio</h2>
    <div class="card p-2 m-2">
        <h4 class="card-header" style="background-color: cornflowerblue;">Primer Paso</h4>
        <div class="card-body">
            <h5 class="card-title"><b><u>Registrarse y logearse</u> </b>  </h5>
            <p class="card-text">Ir a la pestaña de <b>"Registrar"</b>  e ingresar un correo y contraseña. Si ya estas registrado
                ir a la pestaña <b>"Login"</b>  e ingresar los datos de su cuenta </p>
        </div>
    </div>
    <div class="card p-2 m-2">
        <h4 class="card-header" style="background-color: cornflowerblue;">Segundo Paso</h4>
        <div class="card-body">
            <h5 class="card-title"><b><u>Crear Topic</u> </b> </h5>
            <p class="card-text">Luego de logearse con su cuenta ir a la pestaña de <b>"Topic"</b> y crear un nuevo 
                topic con una pregunta despues puede agregar mas preguntas con las respuestas  </p>
        </div>
    </div>
    <div class="card p-2 m-2">
        <h4 class="card-header" style="background-color: cornflowerblue;">Tercer Paso</h4>
        <div class="card-body">
            <h5 class="card-title"> <b><u> Crear Preguntas</u></b> </h5>
            <p class="card-text">Una vez creado el topic puede ingresar en el mismo y ver las preguntas y crear nuevas preguntas con respuestas,
                tambien esta el boton <b>"Random"</b> para mostrar aleatoriamente una de las preguntas creadas con la respuesta oculta, clickiando en
            el boton ver respuesta puede verificar la respuesta </p>
        </div>
    </div>
</div>